#thumbnail {
    height: 200px;
    object-fit: cover;
}

.no-meals {
    padding-top: 200px;
    padding-bottom: 200px;
    color: #fb9595;
}

.logo {
    height: 50px;
    width: 50px;
    object-fit: cover;
}